<form class="d-flex" role="search" #myForm="ngForm">
  <input  class="form-control me-2" name="myInput" ngModel type="search" placeholder="Search" aria-label="Search" #myInput >
  <button class="btn btn-outline-success" 
  (click)="submitFunc(myInput.value)" type="submit">Add</button>
</form>

<ul class="list-group my-4 m-5 " >
  <li class="list-group-item" *ngFor="let item of items" >
    <input class="form-check-input me-1" #checkbox type="checkbox" (change)="changeData($event,item.id,item.myData)" >
    <label class="form-check-label" >{{item.myData}}</label>
  </li>
</ul>